### IDE 및 시스템 파일
# VSCode 설정 등
.vscode/

# 맥북 사용자용 인덱스 파일
.DS_Store

# 민감정보 파일
.env

# 파이썬 컴파일된 결과 파일
__pycache__/

# db나 sqlite 파일 제외
*.db
instance/*

# 개발
test/*

# 스케줄러
*.sh
*.crontab

# 미사용리소스
origin_images/

# 로그파일
*.log

# 도커 관련파일
.dockerignore
Dockerfile