html,
body {
    margin: 0;
    height: 100%;
    font-family: "Noto Sans KR" !important;
    font-size: 0.9rem;
}

main {
    overflow: hidden;
    height: 96vh;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position:fixed;
    bottom:0px;
    z-index: 999999;
    background-color: #fff;
    padding: 0.4rem;
}

.public-data {
    height: 24px;
}

.nav-item {
    text-decoration: none;
}

#map {
    margin-left: auto;
}


.leaflet-popup-content-wrapper {
    font-family: "Noto Sans KR";
    text-align: center;
    border-radius: 0.6rem;
}

.leaflet-heatmap-layer {
  opacity: 1;
}

.gotoDetail {
    text-decoration: none;
}

.btnBack {
    width:20px;
    height:20px;
}

#toast {
    position: fixed;
    width: 250px;
    z-index: 100000;
    border-radius: 20rem;
    opacity: 0.7;
}

@media (max-width:1000px) {
    #map {
        max-width: 999px;
        height: 90vh;
    }
    #mapFilter {
        max-width: 1000px;
        width: 100%;
        margin: auto;
        position: fixed;
        bottom: 0px;
        transition: bottom 0.5s ease;
        z-index: 99999;
    }
}

@media (min-width:1001px) {
    .main-container {
        display: flex;
    }

    #toast {
        left:15%;
    }

    .accordion-button::after {
        display: none;
    }

    #map {
        width: 70%;
        height: 100vh;
    }

    #mapFilter {
        width: 30%;
        z-index: 99999;
    }

    #filterDiv {
        height:100vh;
    }
}
