<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/detail_page.css">

    <title>Detailed Page</title>
</head>
<body>
    <div class="page-container">
        <div class="top-section">
            <button class="back-button">
                <img src="../static/images/back-button.png" alt="뒤로가기">
            </button>

            <!-- {{url}} 나중에는 진짜 이미지 링크 받아오기 -->
            <img src="../static/images/북촌한옥마을_263.jpg" alt="배경 이미지" class="background-image-cover">
            
            <div class="hero-text">
                <h1 id="location-name">{{name}}</h1>
            </div>
        </div>

        <div class="content-section">
            <!-- 나중에 {{description}}와 같은 것 추가하기 -->
            <p id="location-description">Surrounded by Gyeongbokgung Palace, Changdeokgung Palace and Jongmyo Shrine, Bukchon Hanok Village is home to hundreds of traditional houses, called hanok, that date back to the Joseon dynasty. The name Bukchon, which literally translates to "northern village," came about as the neighborhood lies north of two significant Seoul landmarks, Cheonggyecheon Stream and Jongno. Unlike many other traditional villages that were built for tourism, Bukchon is a real, functioning residential neighborhood. Many of the hanoks (traditional Korean houses) are still occupied by residents. This is why visitors are asked to be respectful and practice "silent tourism."</p>
        </div>

        <section class="crowd-density-section">
            <div class="info-tag" id="traffic-tag">{{crowd}}</div>
            <div class="info-title">Crowd Density</div>
            <div class="progress-bar-container">
                <span class="progress-bar-segment" id="bar-segment-1"></span>
                <span class="progress-bar-segment" id="bar-segment-2"></span>
                <span class="progress-bar-segment" id="bar-segment-3"></span>
                <span class="progress-bar-segment" id="bar-segment-4"></span>
            </div>
            <div class="time-labels">
                <span id="time-now">Now</span>
                <span id="time-1">{{time_1}}</span>
                <span id="time-2">{{time_2}}</span>
                <span id="time-3">{{time_3}}</span>
            </div>
        </section>

        <section class="traffic-conditions-section">
            <div class="info-tag" id="traffic-tag">{{traffic}}</div>
            <div class="info-title">Traffic Conditions</div>
        </section>
    </div>
</body>
</html>