<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="stylesheet" href="../static/css/detail_page.css">
    <title>Detailed Page</title>
</head>

<body>
    <div class="top-section">
        <button class="back-button">
            <a href="/"><img src="../static/images/ui/back-button.png" alt="뒤로가기"></a>
        </button>
        <img src="../static/images/attraction/{{ data.AREA_CD }}.jpg" alt="배경 이미지" class="background-image-cover">
        <div class="hero-text">
            <h1 id="location-name">{{name}}</h1>
        </div>
    </div>

    <div class="page-container">
        <div class="content-section">
            <div class="text-container">
                <p id="location-description">{{ data.DESCRIPTION }}</p>
            </div>
            <button id="read-more-btn">Read more</button>
        </div>

        <section class="crowd-density-section">
            <div class="info-tag" id="traffic-tag">{{ data.AREA_PPLTN[0].FCST_CONGET_LVL }}</div>
            <div class="info-title">Crowd Density</div>
            
            <div class="progress-bar-container" id="crowd-density-bar"></div>  

            <div class="time-labels">
                <span id="time-now">Now</span>
                <span id="time-1">{{time_1}}</span>
                <span id="time-2">{{time_2}}</span>
                <span id="time-3">{{time_3}}</span>
            </div>
        </section>

        <section class="traffic-conditions-section">
            <div class="info-tag" id="traffic-tag">{{ traffic_condition }}</div>
            <div class="info-title">Traffic Conditions</div>
        </section>

        <section class="additional-info-section">
            <div class="weather-section">
                <div class="weather-header">
                    <h2>Weather</h2>
                    <span class="current-temp">{{ data.WEATHER_STTS[0].TEMP }}</span>
                </div>
                
                <div class="weather-forecast-container">
                    <div class="weather-forecast">
                        {% for item in data.WEATHER_STTS %}
                        <div class="forecast-item">
                            <span class="time">
                                {{ item.FCST_DT[8:10] }}:00
                            </span>
                            <span class="temp">
                                {{ item.TEMP }}
                            </span>
                            <div class="rain-chance-graph"></div>
                            <div class="rain-chance">
                                {{ item.RAIN_CHANCE }}%
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

            <div class="public-bike-section">
                <div class="bike-header">
                    <p id="total-bikes">Public bike(s) available</p>
                </div>
                <div class="bike-map" id="map"></div>
                <ul class="bike-list">
                    {% for bike in data.SBIKE_STTS %}
                    <li>
                        <span class="bike-count-list">{{bike.SBIKE_PARKING_CNT}}</span>
                        <span class="bike-station-name">{{bike.SBIKE_SPOT_NM}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>

    <script>
        const bikeList = {{ data|safe }};
        const pageData = {{ data | tojson }};
        var crowdData = pageData.AREA_PPLTN;
        var bikeData = pageData.SBIKE_STTS;
        console.log(bikeData)
        var weatherData = pageData.WEATHER_STTS;
    </script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../static/js/detail_page.js"></script>
    <script src="../static/js/bike.js"></script>
</body>
</html>
