<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="stylesheet" href="../static/css/detail_page.css">

    <title>Detailed Page</title>
</head>

<body>
            <div class="public-bike-section">
                <div class="bike-header">
                    <p>14 Public bike(s) available</p>
                </div>
                <div class="bike-map" id="map"></div>
                <ul class="bike-list">
                    {% for bike in data.SBIKE_STTS %}
                    <li>
                        <span class="bike-count-list">{{bike.SBIKE_PARKING_CNT}}</span>
                        <span class="bike-station-name">{{bike.SBIKE_SPOT_NM}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <script>
        const bike_list = {{ data|safe }};
    </script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../static/js/detail_page.js"></script>
    <script src="../static/js/bike.js"></script>
</body>

</html>