{% extends 'base.html' %}
{% block title %}Now in Seoul{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.min.css') }}">
{% endblock %}

{% block content %}
<div class="header-image">
  <img src="{{ url_for('static', filename='images/ui/main.png') }}" alt="Now in Seoul Main Image" />
  <div class="header-text-container">
    <h1 class="header-text">Now in Seoul</h1>
    <p class="header-subtitle">See What's Happening Right Now in Seoul!</p>
  </div>
  <div class="bi bi-globe" id="lang-select-icon">
    <select id="lang-select" class="opacity-0">
      <option value="en" id="en">EN</option>
      <option value="ja" id="ja">JA</option>
      <option value="ko" id="ko">KO</option>
    </select>
  </div>
</div>

<form class="tag-form">
  <div class="mb-3 flex-wrap" role="group" aria-label="Theme filter">
    <input type="checkbox" class="mapfilter btn-check" id="food"  name="tag" value="Food"  autocomplete="off" />
    <label class="btn btn-outline-primary btn-sm mb-1" for="food">#Food</label>

    <input type="checkbox" class="mapfilter btn-check" id="drama" name="tag" value="Drama" autocomplete="off" />
    <label class="btn btn-outline-primary btn-sm mb-1" for="drama">#Drama</label>

    <input type="checkbox" class="mapfilter btn-check" id="beauty" name="tag" value="Beauty" autocomplete="off" />
    <label class="btn btn-outline-primary btn-sm mb-1" for="beauty">#Beauty</label>

    <input type="checkbox" class="mapfilter btn-check" id="movie" name="tag" value="Movie" autocomplete="off" />
    <label class="btn btn-outline-primary btn-sm mb-1" for="movie">#Movie</label>
  </div>

  <div class="map-button-container d-none d-md-flex">
    <a href="{{ url_for('main.browse_on_map', locale=locale) }}" class="btn btn-primary">{{_('browse-on-map')}}</a>
  </div>
</form>

<div class="container">
  <!-- JS 사용해서 여기에 이미지 삽입  -->
  <div id="attractions-container" class="content"></div>

  <div class="mobile-map-cta d-md-none">
    <a href="{{ url_for('main.browse_on_map', locale=locale) }}" class="btn btn-primary w-100">{{_('browse-on-map')}}</a>
  </div>
</div>

<script>
  window.attractionData = {{ data | tojson }};
</script>

<script src="{{ url_for('static', filename='js/globalLocale.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/translate.min.js') }}"></script>
{% endblock %}
