<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map :: Now in Seoul</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="static/css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="stylesheet" href="static/css/onmap.css">
</head>

<body>
    <div class="nav p-2 border-bottom">
        <a href="/" class="nav-item"><i class="bi bi-chevron-left"></i> Main</a>
    </div>
    <main>
        <div class="main-container">
            <div class="accordion" id="mapFilter">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="accordion-button bg-white" type="button" id="filterDisplay">
                        Filter
                    </div>
                </h2>
                <div id="filterDiv" class="accordion-collapse collapse show" data-bs-parent="#mapFilter">
                    <form class="accordion-body" id="filterForm">
                        <div class="mb-3">
                            <p class="form-label">Search by place name</p>
                            <div class="d-flex">
                                <input type="search" class="form-control me-3" id="mapSearch" name="mapSearch">
                                <button class="btn btn-primary" id="btnSearch">Search</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Theme</p>
                            <div class="flex-wrap" role="group" aria-label="Theme filter">
                                <input type="checkbox" class="mapfilter btn-check" id="food" name="theme" value="food">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="food">#Food</label>

                                <input type="checkbox" class="mapfilter btn-check" id="drama" name="theme" value="drama">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="drama">#Drama</label>

                                <input type="checkbox" class="mapfilter btn-check" id="beauty" name="theme" value="beauty">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="beauty">#Beauty</label>

                                <input type="checkbox" class="mapfilter btn-check" id="movie" name="theme" value="movie">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="movie">#Movie</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <p class="form-label">Crowd Density Level</p>
                            <div class="flex-wrap" role="group" aria-label="Crowd density">
                                <input type="radio" class="mapfilter btn-check" name="crowd" id="density-all" value="all" checked>
                                <label class="btn btn-outline-primary btn-sm mb-1" for="density-all">All</label>

                                <input type="radio" class="mapfilter btn-check" name="crowd" id="density-low" value="Comfortable">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="density-low">Comfortable</label>

                                <input type="radio" class="mapfilter btn-check" name="crowd" id="density-medium" value="Moderate">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="density-medium">Moderate</label>

                                <input type="radio" class="mapfilter btn-check" name="crowd" id="density-slightly" value="Slightly Crowded">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="density-slightly">Slightly Crowded</label>

                                <input type="radio" class="mapfilter btn-check" name="crowd" id="density-high" value="Crowded">
                                <label class="btn btn-outline-primary btn-sm mb-1" for="density-high">Crowded</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-secondary" type="reset" id="btnReset">Reset Filter</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            <div id="map"></div>
        </div>
    </main>
    <script>
        const originMapData = {{ data.data | safe }};
    </script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="../static/js/marker.js"></script>
    <script src="../static/js/filter.js"></script>
</body>
</html>
